<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c26598">  <td>20/10/24 00:32:13</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;GoogleSearchTestNg.BeforeTest()[pri:0, instance:ProgressiveTests.GoogleSearchTestNg@1c3a4799]">&gt;&gt;BeforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2104545713</td>   <td></td> </tr>
<tr bgcolor="c26598">  <td>20/10/24 00:32:20</td>   <td>7229</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoogleSearchTestNg.googleSearch()[pri:0, instance:ProgressiveTests.GoogleSearchTestNg@1c3a4799]">googleSearch</td> 
  <td>main@2104545713</td>   <td></td> </tr>
<tr bgcolor="c26598">  <td>20/10/24 00:32:22</td>   <td>9274</td> <td>&nbsp;</td><td title="&lt;&lt;GoogleSearchTestNg.afterTest()[pri:0, instance:ProgressiveTests.GoogleSearchTestNg@1c3a4799]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2104545713</td>   <td></td> </tr>
</table>
