<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d878d1">  <td>20/10/26 20:52:08</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;GoogleSearchTestNg.BeforeTest()[pri:0, instance:ProgressiveTests.GoogleSearchTestNg@23faf8f2]">&gt;&gt;BeforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2048425748</td>   <td></td> </tr>
<tr bgcolor="c26598">  <td>20/10/26 20:52:16</td>   <td>7322</td> <td>&nbsp;</td><td title="&gt;&gt;StartAutoQuoteTestNG.BeforeTest()[pri:0, instance:ProgressiveTests.StartAutoQuoteTestNG@d44fc21]">&gt;&gt;BeforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2048425748</td>   <td></td> </tr>
<tr bgcolor="c26598">  <td>20/10/26 20:52:19</td>   <td>10525</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="StartAutoQuoteTestNG.startAutoQuote()[pri:0, instance:ProgressiveTests.StartAutoQuoteTestNG@d44fc21]">startAutoQuote</td> 
  <td>main@2048425748</td>   <td></td> </tr>
<tr bgcolor="d878d1">  <td>20/10/26 20:54:56</td>   <td>167446</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoogleSearchTestNg.googleSearch()[pri:0, instance:ProgressiveTests.GoogleSearchTestNg@23faf8f2]">googleSearch</td> 
  <td>main@2048425748</td>   <td></td> </tr>
<tr bgcolor="d878d1">  <td>20/10/26 20:54:57</td>   <td>168807</td> <td>&nbsp;</td><td title="&lt;&lt;GoogleSearchTestNg.afterTest()[pri:0, instance:ProgressiveTests.GoogleSearchTestNg@23faf8f2]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2048425748</td>   <td></td> </tr>
<tr bgcolor="c26598">  <td>20/10/26 20:54:58</td>   <td>169641</td> <td>&nbsp;</td><td title="&lt;&lt;StartAutoQuoteTestNG.afterTest()[pri:0, instance:ProgressiveTests.StartAutoQuoteTestNG@d44fc21]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2048425748</td>   <td></td> </tr>
</table>
